/*
0 - 600px:      Phone
600 - 900px:    Tablet Portrait
900 - 1200px:   Tablet Landscape
[1200 - 1800px]  is where normal styles apply
1800px + :      Big Desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px
*/
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

.container {
  display: grid;
  grid-template-rows: minmax(min-content, 80vh);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  font-size: 1.6rem;
  font-weight: 400;
  color: #333; }

h1,
h2,
h3,
h4 {
  line-height: 1; }

h1 {
  font-size: 5rem;
  letter-spacing: 0.125rem; }
  @media (max-width: 56.25em) {
    h1 {
      font-size: 4rem;
      letter-spacing: 0.1rem; } }
  @media (max-width: 37.5em) {
    h1 {
      font-size: 3.5rem; } }

h2 {
  font-size: 3rem;
  letter-spacing: 0.125rem;
  margin-bottom: 2rem; }
  @media (max-width: 56.25em) {
    h2 {
      font-size: 2.5rem;
      letter-spacing: 0.1rem; } }
  @media (max-width: 37.5em) {
    h2 {
      font-size: 2rem; } }

h3 {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  margin-bottom: 2rem; }
  @media (max-width: 56.25em) {
    h3 {
      font-size: 1.75rem;
      letter-spacing: normal; } }

h4 {
  letter-spacing: 0.05rem;
  margin-bottom: 1rem; }

.tittle {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 500; }
  .tittle--big {
    font-size: 7rem; }
    @media (max-width: 56.25em) {
      .tittle--big {
        font-size: 5.5rem; } }
    @media (max-width: 37.5em) {
      .tittle--big {
        font-size: 4rem; } }
  .tittle__logo {
    font-size: 1.7rem;
    font-weight: 400;
    margin-left: 0.4rem; }
    .tittle__logo--color {
      color: #f26514; }
  .tittle--card {
    text-transform: capitalize;
    font-weight: 600; }
  .tittle__span {
    color: #fd3202; }
    .tittle__span--hero {
      font-size: 3.4rem;
      font-weight: 600;
      color: #f26514;
      display: inline-block;
      transform: translateY(-1.5rem); }
      @media (max-width: 56.25em) {
        .tittle__span--hero {
          font-size: 3rem;
          transform: translateY(-1rem); } }
      @media (max-width: 37.5em) {
        .tittle__span--hero {
          font-size: 2.5rem; } }
    .tittle__span--border {
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-color: currentColor;
      -webkit-text-stroke-width: 2px; }
  .tittle--benefits {
    color: #f26514;
    transform: translateY(0.5rem); }
  .tittle--available {
    display: inline-block;
    position: relative; }
    .tittle--available::after {
      content: "";
      position: absolute;
      background: lightgreen;
      border-radius: 100px;
      width: 0.7rem;
      height: 0.7rem;
      top: 50%;
      right: -2rem;
      transform: translateY(-50%); }

.paragraph {
  font-size: 1.6rem; }
  .paragraph--sm {
    font-size: 1.3; }
  .paragraph--colored {
    color: #5bc994; }
  .paragraph--hero {
    font-size: 1.9rem;
    line-height: 1.2; }
  .paragraph--order {
    font-family: "Oswald", sans-serif;
    font-size: 1.7rem; }
  .paragraph--testimonial {
    font-size: 1.3rem;
    font-style: italic; }
  .paragraph--footer {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    margin-left: 1rem; }
  .paragraph--skew {
    transform: skew(20deg);
    font-size: 1.2rem; }
  .paragraph--stars {
    color: #fd3202;
    font-size: 2rem;
    line-height: 1; }
  .paragraph__span--hero {
    color: #fd3202; }
  .paragraph__span--order {
    margin-left: 1rem;
    font-weight: 400;
    color: #ececec;
    text-transform: uppercase; }
  .paragraph--md {
    font-size: 1.5rem; }
  .paragraph--sm {
    font-size: 1.3rem; }

.span--ofert {
  color: #b0b0b0;
  font-size: 3rem;
  line-height: 1;
  border: 1px solid currentColor;
  padding: 0.165em 0.425em;
  border-radius: 200px; }
  @media (max-width: 56.25em) {
    .span--ofert {
      font-size: 2rem; } }

.mb-xs {
  margin-bottom: 1rem; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mt-sm {
  margin-top: 1rem; }

.mt-lg {
  margin-top: 4rem; }

.mr-sm {
  margin-right: 1rem; }

.mr-md {
  margin-right: 2rem; }

.center {
  text-align: center; }

.banner {
  grid-column: full-start / full-end;
  color: #fff;
  text-align: center;
  background: linear-gradient(to right top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../img/banner-bg.jpg");
  background-size: cover;
  background-position: center 80%;
  padding: 4rem 6rem;
  position: relative; }
  @media (max-width: 75em) {
    .banner {
      padding-right: 1rem; } }
  @media (max-width: 56.25em) {
    .banner {
      padding: 2.5em 1.25em; } }
  .banner--discount {
    display: flex;
    padding-left: 37rem;
    align-items: center;
    justify-content: center; }
    @media (max-width: 75em) {
      .banner--discount {
        justify-content: space-around; } }
    @media (max-width: 56.25em) {
      .banner--discount {
        justify-content: center;
        padding-left: 0;
        text-align: left; } }
  .banner--subscribe {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 15rem; }
    @media (max-width: 75em) {
      .banner--subscribe {
        margin-left: 0;
        justify-content: center; } }
  .banner__figure {
    position: absolute;
    bottom: -0.65rem; }
    .banner__figure--1 {
      left: -7rem; }
      @media (max-width: 56.25em) {
        .banner__figure--1 {
          display: none; } }
    .banner__figure--2 {
      right: 3rem;
      filter: brightness(0.8); }
      @media (max-width: 75em) {
        .banner__figure--2 {
          display: none; } }
  .banner__img {
    width: 100%;
    height: 100%; }
  .banner__order {
    max-width: 40rem; }
    @media (max-width: 37.5em) {
      .banner__order {
        max-width: 30rem; } }
  @media (max-width: 75em) {
    .banner__register {
      margin-right: 1.75em; } }
  .banner__discount {
    margin-left: 3rem;
    font-size: 10rem;
    line-height: 1.3;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    text-shadow: 0.5rem 0.5rem 0.5rem #000; }
    @media (max-width: 75em) {
      .banner__discount {
        font-size: 7rem;
        margin-left: 0; } }
    @media (max-width: 56.25em) {
      .banner__discount {
        font-size: 6rem;
        margin-left: 5rem; } }
    @media (max-width: 37.5em) {
      .banner__discount {
        font-size: 3.5rem;
        margin-left: 2rem; } }
  .banner__form {
    position: relative; }

.btn {
  display: inline-block;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.175em;
  padding: 1em 2em;
  font-weight: 400;
  border-radius: 3px;
  transition: all 0.2s linear; }
  .btn--lg {
    font-size: 1.35rem; }
  .btn--sm {
    font-size: 1.25rem; }
  .btn:hover {
    transform: translateY(-2%);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25); }
  .btn:active {
    transform: translateY(-1%);
    filter: brightness(85%); }
  .btn--gradient {
    color: #fff;
    background: linear-gradient(to right top, #fd3202, #f26514 70%); }
  .btn--outline {
    background: transparent;
    color: #f26514;
    padding: 0.8em 1.8em;
    border: 2px solid currentColor; }
  .btn--submit {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border-radius: 0 3px 3px 0; }
    .btn--submit:hover {
      transform: translate(0); }
  .btn--card {
    background-color: inherit;
    border: 2px solid currentColor;
    align-self: stretch; }

.card {
  box-shadow: 0 0 1rem 0.4rem #ececec;
  border-radius: 3px;
  display: flex;
  align-items: center; }
  .card--sm {
    padding: 0 3rem 3rem;
    flex-direction: column;
    position: relative; }
  .card--lg {
    margin: 4.375em 6.25em;
    padding: 1.25em 3.125em; }
    @media (max-width: 75em) {
      .card--lg {
        margin: 4.375em; } }
    @media (max-width: 56.25em) {
      .card--lg {
        flex-direction: column;
        gap: 4em; } }
  .card__img {
    filter: drop-shadow(0.2rem 0.5rem 0.5rem #b0b0b0); }
    .card__img--big {
      width: 100%; }
    .card__img--moved {
      margin-top: -5rem; }
  .card__shape {
    z-index: 100;
    position: absolute;
    transform: rotate(30deg); }
    .card__shape--sm {
      top: -5rem;
      right: 5rem;
      width: 7.5rem; }
  .card__price {
    margin: 1.5rem;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 2rem; }
  .card:hover .btn {
    color: #fff;
    background: linear-gradient(to right top, #fd3202, #f26514);
    border: 2px solid transparent; }
  .card__info {
    flex: 1 1 45rem;
    padding: 0 5rem; }
    @media (max-width: 56.25em) {
      .card__info {
        text-align: center;
        flex: none;
        max-width: 60%;
        padding: 0; } }
  .card__figure {
    border: 2px solid #ececec;
    text-align: center;
    width: 25%;
    max-width: 30rem; }
    @media (max-width: 56.25em) {
      .card__figure {
        width: 35%; } }
    @media (max-width: 56.25em) {
      .card__figure {
        width: 50%; } }
  .card__ingredients {
    padding-left: 5rem;
    border-left: 2px solid #ececec;
    flex: 1 0 15rem; }
  .card__list {
    list-style-type: none; }
  .card__ingredient {
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    position: relative; }
    .card__ingredient::before {
      content: "";
      position: absolute;
      background: #fd3202;
      border-radius: 50%;
      width: 0.5rem;
      height: 0.5rem;
      top: 50%;
      left: -2rem;
      transform: translateY(-50%); }

.carousel {
  overflow-x: hidden;
  width: 88rem;
  border: 1px solid #b0b0b0;
  border-radius: 3px; }
  @media (max-width: 75em) {
    .carousel {
      width: 90rem; } }
  @media (max-width: 56.25em) {
    .carousel {
      width: 90%; } }
  .carousel__slide {
    padding: 9rem 5rem 4rem;
    display: flex;
    width: 100%; }
  .carousel__item {
    min-width: 23rem;
    background-color: #fff;
    text-align: center;
    padding: 0 3rem 3rem;
    opacity: 0.5;
    border-radius: 3px;
    transition: all 0.3s linear; }
    .carousel__item:not(:last-of-type) {
      margin-right: 50px; }
    .carousel__item--active {
      opacity: 1;
      transform: scale(1.1);
      position: relative; }
      .carousel__item--active::before {
        content: "\1f800";
        font-size: 4rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -2.5rem; }
      .carousel__item--active::after {
        content: "\1f802";
        font-size: 4rem;
        color: #fd3202;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -2.5rem; }
      .carousel__item--active .btn {
        color: #fff;
        background: linear-gradient(to right, #fd3202, #f26514);
        border: 2px solid transparent; }

.icon {
  fill: currentColor; }
  .icon--sm {
    width: 2rem;
    height: 2rem; }
  .icon--md {
    width: 3rem;
    height: 3rem; }
  .icon--lg {
    width: 4rem;
    height: 4rem; }
  .icon--border {
    border: 1px solid currentColor;
    margin-right: 2rem;
    padding: 0.8rem;
    width: 3.5rem;
    height: 3.5rem; }
  .icon--menu {
    width: 1.5rem;
    height: 2rem;
    fill: #fff; }

.input {
  outline: none;
  border: 1px solid currentColor;
  padding: 0.9em 1.125em;
  border-radius: 3px;
  width: 100%; }
  .input--contact {
    color: #5c5c5c;
    margin-bottom: 1rem; }
  .input--banner {
    background: transparent;
    color: #ececec; }
  .input--menu {
    color: #5c5c5c;
    font-family: "Poppins", sans-serif;
    border: 1px solid #ececec; }
  .input::-webkit-input-placeholder {
    font-family: "Oswald", sans-serif;
    color: currentColor;
    text-transform: uppercase;
    letter-spacing: 0.5px; }

.header {
  grid-column: full-start / full-end;
  padding: 2.5rem 8rem 2rem;
  border-bottom: 1px solid currentColor;
  background: transparent;
  font-weight: 400;
  color: #fff;
  transition: padding 0.3s linear;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; }
  .header__contact {
    display: flex;
    align-items: center; }
    @media (max-width: 56.25em) {
      .header__contact {
        display: none; } }
  .header--contact {
    color: #333; }
  .header.sticky {
    border-bottom: none;
    box-shadow: 0 0.5rem 3rem #5c5c5c;
    padding: 2rem 8rem; }
    .header.sticky--home {
      background-color: #f26514; }
    .header.sticky .nav__link.active,
    .header.sticky .nav__link:hover {
      background: #333; }
    .header.sticky--menu {
      background: #5c5c5c; }
    .header.sticky--contact {
      background: #f26514;
      color: #fff; }

.logo {
  display: flex;
  align-items: center; }
  .logo__img {
    width: 6rem;
    height: 6rem; }

.nav {
  font-family: "Oswald", sans-serif; }
  .nav__menu {
    list-style-type: none;
    display: flex;
    height: auto;
    transition: height 0.3s cubic-bezier(0.69, 0.08, 0, 1.54); }
    @media (max-width: 56.25em) {
      .nav__menu {
        flex-direction: column;
        justify-content: space-evenly;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0 5em;
        background-color: #f26514;
        height: 0;
        overflow: hidden;
        z-index: -1; }
        .nav__menu.toggled {
          padding-top: 9.5rem;
          padding-bottom: 2rem;
          height: 27rem; }
          .nav__menu.toggled .nav__link {
            opacity: 1;
            transition: opacity 0.2s linear 0.2s; } }
  .nav__item:not(:last-of-type) {
    margin-right: 3rem; }
    @media (max-width: 75em) {
      .nav__item:not(:last-of-type) {
        margin-right: 2.5rem; } }
    @media (max-width: 56.25em) {
      .nav__item:not(:last-of-type) {
        margin-right: 0;
        margin-bottom: 1em; } }
  .nav__link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    padding: 0.2rem 2.5rem;
    border-radius: 1px;
    color: inherit;
    transition: background-color 0.35s ease-in-out; }
    @media (max-width: 56.25em) {
      .nav__link {
        opacity: 0; } }
    .nav__link:hover, .nav__link.active {
      background-color: #fd3202; }
    .nav__link--dark:hover, .nav__link--dark.active {
      background-color: #333; }

.navigation__toggler {
  position: absolute;
  right: 7rem;
  color: #b0b0b0;
  border-radius: 3px;
  padding: 1.25em 0.8em;
  display: flex;
  cursor: pointer;
  display: none; }
  @media (max-width: 56.25em) {
    .navigation__toggler {
      display: block; } }
  .navigation__toggler.checked .navigation__icon {
    background-color: transparent; }
    .navigation__toggler.checked .navigation__icon::before {
      top: 0;
      transform: rotate(-135deg); }
    .navigation__toggler.checked .navigation__icon::after {
      top: 0;
      transform: rotate(135deg); }

.navigation__icon {
  transition: all 0.2s linear;
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 2px;
  background-color: currentColor; }
  .navigation__icon::before {
    content: "";
    width: 3rem;
    height: 2px;
    position: absolute;
    background-color: currentColor;
    left: 0;
    top: 1rem;
    transition: all 0.2s linear; }
  .navigation__icon::after {
    content: "";
    width: 3rem;
    height: 2px;
    position: absolute;
    background-color: currentColor;
    left: 0;
    top: -1rem;
    transition: all 0.2s linear; }

.footer {
  grid-column: full-start/ full-end;
  padding: 3rem 5rem;
  background: #000;
  color: #ececec;
  font-size: 1.4rem;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(4, minmax(20rem, 1fr)); }
  @media (max-width: 56.25em) {
    .footer {
      grid-template-columns: repeat(2, minmax(20rem, 1fr));
      grid-gap: 2rem; } }
  @media (max-width: 37.5em) {
    .footer {
      grid-template-columns: minmax(20rem, 1fr);
      grid-gap: 4rem; } }
  .footer__contact {
    display: flex;
    align-items: center; }
    .footer__contact svg {
      margin-right: 1rem; }
  .footer__hours {
    display: flex;
    align-items: center; }
  .footer__social-media {
    width: 60%;
    display: flex;
    justify-content: space-evenly; }

.subfooter {
  grid-column: full-start/ full-end;
  background: #000;
  color: #ececec;
  text-align: center;
  padding: 1rem;
  border-top: 1px solid #5c5c5c; }

.hero {
  grid-column: full-start / full-end;
  background-image: linear-gradient(to right top, rgba(253, 50, 2, 0.65), rgba(92, 92, 92, 0.65) 40%), url(../img/hero-bg.jpg);
  background-size: cover;
  background-position: 50% 100%;
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end; }
  @media (max-width: 37.5em) {
    .hero {
      align-items: center;
      text-align: center; } }
  .hero__container {
    max-width: 50rem;
    margin: 9.5em 5em 3em; }
    @media (max-width: 37.5em) {
      .hero__container {
        margin: 9.5em 1.25em 3em; } }
  .hero::before {
    content: "";
    position: absolute;
    width: 2.25rem;
    height: 2.25rem;
    bottom: -4rem;
    left: 50%;
    border-left: 4px solid #f26514;
    border-bottom: 4px solid #f26514;
    border-radius: 3px;
    animation: 3s arrow infinite ease; }
  .hero::after {
    content: "";
    position: absolute;
    width: 2.25rem;
    height: 2.25rem;
    bottom: -5.75rem;
    left: 50%;
    border-left: 4px solid #f26514;
    border-bottom: 4px solid #f26514;
    border-radius: 3px;
    animation: 3s arrow infinite ease; }

@keyframes arrow {
  0%,
  100% {
    transform: translate(-50%, 0) rotate(-45deg); }
  50% {
    transform: translate(-50%, 2rem) rotate(-45deg); } }

.categoryes {
  grid-column: full-start / full-end;
  background-color: #f9f9f9;
  padding: 9.375em 5em;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  @media (max-width: 75em) {
    .categoryes {
      flex-direction: column; } }
  @media (max-width: 56.25em) {
    .categoryes {
      padding: 9.375em 1.25em 5em; } }
  .categoryes__desc {
    margin-right: 5rem;
    max-width: 50rem; }
    @media (max-width: 75em) {
      .categoryes__desc {
        text-align: center;
        margin-bottom: 10rem;
        margin-right: 0; } }
  .categoryes__items {
    display: grid;
    grid-template-columns: repeat(3, minmax(17rem, 21rem));
    grid-column-gap: 5rem; }
    @media (max-width: 37.5em) {
      .categoryes__items {
        grid-template-columns: minmax(17rem, 25rem); } }
  .categoryes .category__item {
    background: #ececec;
    text-align: center;
    border-radius: 2px;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }
    @media (max-width: 37.5em) {
      .categoryes .category__item {
        margin-bottom: 7rem; } }
    .categoryes .category__item h3::first-letter {
      color: #fd3202; }
  .categoryes .category__figure {
    width: 70%;
    margin: -5rem auto 5rem; }
  .categoryes .category__img {
    width: 100%;
    filter: drop-shadow(0.2rem 0.5rem 0.5rem #828788); }
  .categoryes .category__time {
    color: #fff;
    background-color: #f26514; }

.benefits {
  grid-column: full-start / full-end;
  overflow: hidden; }
  .benefits__info {
    padding: 3.125em 0 3.125em 5em;
    display: flex;
    justify-content: space-around; }
    @media (max-width: 56.25em) {
      .benefits__info {
        flex-direction: column;
        padding: 3.125em 1.25em;
        max-width: 50rem;
        margin: 0 auto; } }
  .benefits__icon {
    position: absolute;
    width: 15rem;
    height: 15rem;
    top: 10%;
    left: 4rem;
    transform: rotate(-35deg); }
  @media (max-width: 56.25em) {
    .benefits__figure {
      width: 70%;
      margin: 0 auto; } }
  @media (max-width: 37.5em) {
    .benefits__figure {
      width: 85%; } }
  .benefits__img {
    filter: drop-shadow(0.2rem 0.5rem 0.5rem #828788);
    transform: translateX(10%);
    width: 100%; }
    @media (max-width: 56.25em) {
      .benefits__img {
        transform: translateX(0); } }
  .benefits__imgs {
    position: relative; }
  .benefits__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 55rem;
    max-width: 85rem; }
    @media (max-width: 56.25em) {
      .benefits__text {
        margin-top: 5rem;
        flex: 0; } }
  .benefits__item {
    padding: 2rem 5rem 2rem 0;
    border-bottom: 1px solid #ececec; }
    @media (max-width: 56.25em) {
      .benefits__item {
        padding-right: 0; } }
    .benefits__item--1 {
      margin-left: 5rem; }
      @media (max-width: 56.25em) {
        .benefits__item--1 {
          margin-left: 0; } }
    .benefits__item--2 {
      margin-left: 10rem;
      position: relative;
      background: linear-gradient(to right, #fff 50%, #fd3202 50%, #f26514); }
      @media (max-width: 56.25em) {
        .benefits__item--2 {
          margin-left: 0; } }
      .benefits__item--2 .paragraph--md {
        width: 50%; }
        @media (max-width: 56.25em) {
          .benefits__item--2 .paragraph--md {
            width: 100%; } }
      .benefits__item--2 .item__figure {
        position: absolute;
        bottom: 0;
        right: 0;
        mix-blend-mode: multiply;
        opacity: 0.6; }
        @media (max-width: 56.25em) {
          .benefits__item--2 .item__figure {
            display: none; } }
        .benefits__item--2 .item__figure img {
          margin-bottom: -0.7rem; }
    .benefits__item--3 {
      margin-left: 8rem; }
      @media (max-width: 56.25em) {
        .benefits__item--3 {
          margin-left: 0; } }

.testimonials {
  grid-column: full-start/ full-end;
  background: #ececec;
  padding: 6.25em 5em;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  @media (max-width: 75em) {
    .testimonials {
      flex-direction: column; } }
  @media (max-width: 56.25em) {
    .testimonials {
      padding: 6.25em 1.25em; } }
  .testimonials__info {
    margin-bottom: 8rem; }
  .testimonials__nr {
    text-align: right;
    font-size: 7rem;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 1em; }
    @media (max-width: 75em) {
      .testimonials__nr {
        text-align: center;
        font-size: 6rem; } }
    @media (max-width: 56.25em) {
      .testimonials__nr {
        font-size: 5rem; } }
  .testimonials__next {
    display: flex;
    line-height: 1;
    align-items: center;
    justify-content: flex-end;
    letter-spacing: 0.1em;
    border: 2px solid #f26514;
    border-radius: 3px;
    padding: 0.5rem 1.5rem;
    transition: all 0.2s linear; }
    .testimonials__next:hover {
      background: linear-gradient(to right top, #fd3202, #f26514 70%);
      color: #fff;
      border: 2px solid transparent;
      transform: translateY(-2%);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25); }
    .testimonials__next .coord {
      font-size: 5rem;
      margin-top: -0.7rem; }
  .testimonials__img {
    width: 10rem;
    height: 10rem;
    margin-top: -5rem;
    border-radius: 50%; }
  .testimonials__icon {
    fill: #ececec;
    display: block;
    margin: 0.2rem auto 0.5rem;
    width: 2rem;
    height: 2rem; }

.menu__header {
  background: linear-gradient(to right top, #fd3202, #f26514 70%);
  padding: 20rem 0 5rem;
  position: relative;
  overflow: hidden;
  color: #fff; }
  .menu__header h1 {
    transform: translateY(1rem); }

.menu__icon {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%); }

.menu__selections {
  background: #f9f9f9;
  padding: 1.25em 6.25em;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 37.5em) {
    .menu__selections {
      padding: 1.25em; } }

.menu__form {
  position: relative;
  width: 30%;
  min-width: 25rem; }

.menu .category__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s linear; }
  .menu .category__header .rotate {
    transition: all 0.5s cubic-bezier(0.69, 0.08, 0, 1.54); }
  .menu .category__header .animate {
    transform: rotate(180deg); }

.menu .category__box {
  width: 15rem;
  color: #5c5c5c;
  border: 1px solid #ececec;
  background-color: #fff;
  font-size: 1.3rem;
  border-radius: 3px;
  padding: 0.85rem 1rem;
  position: relative; }
  .menu .category__box ul {
    list-style-type: none;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    z-index: 1;
    background-color: inherit;
    border: inherit;
    transition: all 0.5s cubic-bezier(0.69, 0.08, 0, 1.54); }
  .menu .category__box #category {
    height: 0;
    overflow: hidden; }
  .menu .category__box #category.active {
    height: 510%; }

.menu .category__item {
  padding: 0.85rem 1rem;
  transition: all 0.3s linear; }
  .menu .category__item:hover {
    cursor: pointer;
    color: #fd3202; }
  .menu .category__item:not(:last-of-type) {
    border-bottom: inherit; }

.menu__cards {
  margin: 9.375em 6.25em 3.125em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(23rem, 25rem));
  justify-content: center;
  grid-column-gap: 3rem;
  grid-row-gap: 7rem; }

.about__header {
  background: linear-gradient(to right top, #fd3202, #f26514 70%);
  padding: 12.5em 0 3.125em;
  position: relative;
  color: #fff;
  overflow: hidden; }

.about__icon {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%); }

.about h1 {
  transform: translateY(1rem); }

.ofert {
  font-family: "Oswald", sans-serif;
  font-size: 2.2rem;
  background: #f9f9f9;
  padding: 1.25em 5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }
  @media (max-width: 75em) {
    .ofert {
      font-size: 2rem;
      padding: 1.25em; } }
  @media (max-width: 56.25em) {
    .ofert {
      font-size: 1.8rem; } }
  @media (max-width: 37.5em) {
    .ofert {
      flex-direction: column;
      gap: 2em; } }
  .ofert__item {
    display: flex;
    align-items: center; }
    @media (max-width: 56.25em) {
      .ofert__item {
        height: 9rem; } }
    @media (max-width: 37.5em) {
      .ofert__item {
        flex-direction: column;
        height: 100%; } }
  .ofert__price {
    font-size: 5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600; }
    @media (max-width: 75em) {
      .ofert__price {
        font-size: 4rem; } }
    @media (max-width: 56.25em) {
      .ofert__price {
        font-size: 3.5rem; } }
    @media (max-width: 37.5em) {
      .ofert__price {
        font-size: 3rem; } }
  .ofert__img {
    filter: drop-shadow(0.2rem 0.5rem 0.5rem #b0b0b0);
    height: 100%; }

.popular {
  padding: 3.125em 5em; }
  .popular__cards {
    margin: 6.25em 0 3.125em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 23rem));
    justify-content: center;
    grid-column-gap: 3rem; }
    @media (max-width: 75em) {
      .popular__cards {
        grid-template-columns: repeat(2, minmax(20rem, 25rem));
        grid-gap: 8rem; } }
    @media (max-width: 37.5em) {
      .popular__cards {
        grid-template-columns: minmax(20rem, 25rem); } }
  .popular .card::before {
    content: "new";
    position: absolute;
    color: #fff;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-size: 1.5rem;
    top: -5rem;
    right: 7.5rem;
    transform: rotate(30deg);
    z-index: 101; }

.contact {
  padding-top: 20rem; }
  .contact__area {
    margin-top: 4rem;
    display: flex; }
    @media (max-width: 56.25em) {
      .contact__area {
        flex-direction: column; } }
  .contact__map-container {
    width: 50%;
    position: relative; }
    @media (max-width: 56.25em) {
      .contact__map-container {
        width: 100%;
        height: 40rem;
        order: 1; } }
  .contact__map {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .contact__img {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(45%, -50%);
    z-index: 400; }
    @media (max-width: 56.25em) {
      .contact__img {
        display: none; } }
  .contact__box-skew {
    background: #fd3202;
    max-width: 35rem;
    padding: 1rem 7rem 1rem 3rem;
    color: #fff;
    transform: translateY(-50%) skew(-20deg);
    position: absolute;
    top: 50%;
    right: 2%; }
    @media (max-width: 56.25em) {
      .contact__box-skew {
        display: none; } }
  .contact__form {
    align-self: center;
    padding: 1.875em 6.25em;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0 0 1rem 0.4rem #ececec;
    border-radius: 3px; }
    @media (max-width: 56.25em) {
      .contact__form {
        width: 60%;
        margin-bottom: 4rem;
        margin-top: 2rem; } }
    @media (max-width: 37.5em) {
      .contact__form {
        width: 80%; } }
