.benefits {
  grid-column: full-start / full-end;
  overflow: hidden;

  &__info {
    padding: 5rem 0 5rem 6rem;
    display: flex;
    justify-content: space-around;
  }

  &__icon {
    position: absolute;
    width: 15rem;
    height: 15rem;
    top: 10%;
    left: 4rem;
    transform: rotate(-35deg);
  }

  &__img {
    filter: drop-shadow(0 0.5rem 0.5rem #444);
    transform: translateX(10%);
    width: 100%;
  }

  &__imgs {
    position: relative;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    max-width: 85rem;
  }

  &__item {
    padding: 2rem 5rem 2rem 0;
    border-bottom: 1px solid $clr-grey-md;

    &--1 {
      margin-left: 5rem;
    }

    &--2 {
      margin-left: 10rem;
      position: relative;
      background: linear-gradient(
        to right,
        $clr-white 50%,
        $clr-primary 50%,
        $clr-secondary
      );

      .paragraph--md {
        width: 50%;
      }

      .item__figure {
        position: absolute;
        bottom: 0;
        right: 0;
        mix-blend-mode: multiply;
        opacity: 0.6;

        img {
          margin-bottom: -0.7rem;
        }
      }
    }

    &--3 {
      margin-left: 8rem;
    }
  }
}
