.categoryes {
  grid-column: full-start / full-end;
  background-color: $clr-grey-light;
  padding: 9.375em 5em; /////**********
  display: flex;
  justify-content: space-around;
  align-items: center;

  @include respond(tab-land) {
    flex-direction: column;
  }

  @include respond(tab-port) {
    padding: 9.375em 1.25em 5em;
  }

  // @include respond(phone) {
  //   padding
  // }

  &__desc {
    margin-right: 5rem;
    max-width: 50rem;

    @include respond(tab-land) {
      text-align: center;
      margin-bottom: 10rem;
      margin-right: 0;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, minmax(17rem, 21rem));
    grid-column-gap: 5rem;

    @include respond(phone) {
      grid-template-columns: minmax(17rem, 25rem);
    }
  }

  .category {
    &__item {
      background: $clr-grey-md;
      text-align: center;
      border-radius: 2px;
      padding-bottom: 3rem;

      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      @include respond(phone) {
        margin-bottom: 7rem;
      }

      h3::first-letter {
        color: $clr-primary;
      }
    }

    &__figure {
      width: 70%;
      margin: -5rem auto 5rem;
    }

    &__img {
      width: 100%;
      filter: $img-shadow-2;
    }

    &__time {
      color: $clr-white;
      background-color: $clr-secondary;
    }
  }
}
