.hero {
  grid-column: full-start / full-end;
  background-image: linear-gradient(
      to right top,
      rgba($clr-primary, 0.65),
      rgba($clr-grey-dark, 0.65) 40%
    ),
    url(../img/hero-bg.jpg);
  background-size: cover;
  background-position: 50% 100%;
  color: $clr-white;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;

  @include respond(phone) {
    align-items: center;
    text-align: center;
  }

  &__container {
    max-width: 50rem;
    margin: 9.5em 5em 3em; /////**********

    @include respond(phone) {
      margin: 9.5em 1.25em 3em;
    }
  }

  &::before {
    @include arrow(-4rem);
  }

  &::after {
    @include arrow(-5.75rem);
  }
}

// FOR MOVEING DOWN ARROW
@keyframes arrow {
  0%,
  100% {
    transform: translate(-50%, 0) rotate(-45deg);
  }
  50% {
    transform: translate(-50%, 2rem) rotate(-45deg);
  }
}
