.hero {
  background-image: linear-gradient(
      to right top,
      rgba($clr-primary, 0.1),
      rgba($clr-secondary, 0.1) 70%
    ),
    url(../img/hero-bg.jpg);
  background-size: cover;
  background-position: 50% 100%;
  color: $clr-white;
  grid-column: full-start / full-end;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  &__container {
    max-width: 50rem;
    margin-top: 10.5rem;
    margin-left: 8rem;
  }

  &::before {
    @include arrow(-4rem);
  }

  &::after {
    @include arrow(-5.75rem);
  }
}

// FOR MOVEING DOWN ARROW
@keyframes arrow {
  0%,
  100% {
    transform: translate(-50%, 0) rotate(-45deg);
  }
  50% {
    transform: translate(-50%, 2rem) rotate(-45deg);
  }
}
