.testimonials {
  grid-column: full-start/ full-end;
  background: $clr-grey-md;
  padding: 6.25em 5em; /////**********

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 20;

  @include respond(tab-port) {
    padding: 6.25em 1.25em;
    gap: 4rem;
  }

  @include respond(phone) {
    flex-direction: column;
    gap: 12rem;
  }

  &__info {
    text-align: center;
  }

  &__nr {
    font-size: 7rem;
    font-family: $font-tittles;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 1em;

    @include respond(tab-land) {
      text-align: center;
      font-size: 6rem;
    }

    @include respond(tab-port) {
      font-size: 5rem;
    }
  }

  &__card {
    max-width: 35rem;
    background-color: $clr-white;
    border-radius: $bor-rad-1;
    text-align: center;
    padding: 0 1.5em 2.75em;

    &:hover .btn {
      background-color: $clr-secondary;
      color: $clr-white;
      border: 2px solid $clr-transparent;
    }
  }

  &__figure {
    display: inline-block;
    width: 11rem;
    height: 11rem;
    margin-top: -5.5rem;
    position: relative;
    z-index: 1;

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      left: 6%;
      top: -5%;
      background-color: $clr-secondary;
      border-radius: 50%;
      z-index: -1;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  &__icon {
    fill: $clr-grey-shadow;
    display: block;
    margin: 1em auto;
    width: 2rem;
    height: 2rem;
  }
}

.controls {
  display: flex;

  .control {
    display: flex;
    line-height: 1;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.1em;

    border: 2px solid $clr-secondary;
    border-radius: $bor-rad-1;
    padding: 0.5em 1.75em;
    transition: all 0.2s linear;

    &:hover {
      background: $main-bg;
      color: $clr-white;
      border: 2px solid $clr-transparent;
      transform: translateY(-2%);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
    }

    &__icon {
      font-size: 4rem;
      margin-top: -0.15em;
    }
  }

  .control + .control {
    margin-left: 2em;
  }
}
