.header {
  grid-column: full-start / full-end;
  padding: 0.9375em 5em 0.625em;
  border-bottom: 1px solid currentColor;
  font-weight: 400;
  color: $clr-white;
  transition: padding 0.3s linear;

  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  &__contact {
    display: flex;
    align-items: center;

    @include respond(tab-port) {
      display: none;
    }
  }

  &--contact {
    color: $clr-text;
  }

  &.sticky {
    border-bottom: none;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.35);
    padding: 0.625em 5em;

    &--home {
      background-color: $clr-secondary;
    }

    .nav__link.active,
    .nav__link:hover,
    .nav__link:focus {
      background: $clr-text;
    }

    &--menu {
      background: $clr-grey-dark;
    }

    &--contact {
      background: $clr-secondary;
      color: $clr-white;
    }
  }
}

.logo {
  display: flex;
  align-items: center;

  &__img {
    width: 6rem;
    height: 6rem;
  }
}

.nav {
  flex: 1;
  max-width: 60rem;
  font-family: $font-tittles;

  &__menu {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    transition: height 0.3s cubic-bezier(0.69, 0.08, 0, 1.54);

    @include respond(tab-port) {
      flex-direction: column;
      justify-content: space-evenly;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 0 5em;
      background-color: $clr-secondary;
      height: 0;
      overflow: hidden;
      z-index: -1;

      &.toggled {
        padding-top: 5.9375em;
        padding-bottom: 1.25em;
        height: 27rem;

        .nav__link {
          opacity: 1;
          transition: opacity 0.2s linear 0.2s;
        }
      }
    }

    // VERY IMPORTANT TO BE IN THIS ORDER
    // ELSE THE HEIGHT WILL NOT WORK
    height: auto;
  }

  &__link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: 0.1em;
    padding: 0.2em 2em;
    border-radius: 2px;
    color: inherit;
    transition: background-color 0.2s linear;

    @include respond(tab-port) {
      opacity: 0;
    }

    &:hover,
    &.active {
      background-color: $clr-primary;
    }

    &--dark {
      &:hover,
      &.active {
        background-color: $clr-text;
      }
    }
  }
}

.navigation {
  &__toggler {
    position: absolute;
    right: 7rem;
    top: 2rem;
    color: $clr-grey-shadow;
    border-radius: $bor-rad-1;
    padding: 1.25em 0.8em;
    cursor: pointer;
    display: none;

    @include respond(tab-port) {
      display: block;
    }

    &.checked {
      .navigation__icon {
        background-color: $clr-transparent;

        &::before {
          top: 0;
          transform: rotate(-135deg);
        }

        &::after {
          top: 0;
          transform: rotate(135deg);
        }
      }
    }
  }

  &__icon {
    transition: all 0.2s linear;
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 2px;
    background-color: currentColor;

    &::before {
      @include rotate(1rem);
    }

    &::after {
      @include rotate(-1rem);
    }
  }
}
