.card {
  box-shadow: $box-shadow-1;
  border-radius: $bor-rad-1;
  display: flex;
  align-items: center;

  &--sm {
    padding: 0 3rem 3rem;
    flex-direction: column;
    position: relative;
  }

  &--lg {
    margin: 4.375em 6.25em;
    padding: 1.25em 3.125em;

    @include respond(tab-land) {
      margin: 4.375em;
    }

    @include respond(tab-port) {
      flex-direction: column;
      gap: 4em;
    }
  }

  // ELEMENTE COMUNE

  &__img {
    filter: $img-shadow-1;

    &--big {
      width: 100%;
    }

    &--moved {
      margin-top: -5rem;
    }
  }

  &__shape {
    z-index: 100;
    position: absolute;
    transform: rotate(30deg);

    &--sm {
      top: -5rem;
      right: 5rem;
      width: 7.5rem;
    }
  }

  // ELEMENTE DIN CARD SM

  &__price {
    margin: 1.5rem;
    font-family: $font-tittles;
    font-weight: 500;
    font-size: 2rem;
  }

  &:hover .btn {
    color: $clr-white;
    background: linear-gradient(to right top, $clr-primary, $clr-secondary);
    border: 2px solid $clr-transparent;
  }

  // ELEMENTE DIN CARD LG

  &__info {
    flex: 1 1 45rem;
    padding: 0 5rem;

    @include respond(tab-port) {
      text-align: center;
      flex: none;
      max-width: 60%;
      padding: 0;
    }
  }

  &__figure {
    border: 2px solid $clr-grey-md;
    text-align: center;
    width: 25%;
    max-width: 30rem;

    @include respond(tab-port) {
      width: 35%;
    }

    @include respond(tab-port) {
      width: 50%;
    }
  }

  &__ingredients {
    padding-left: 5rem;
    border-left: 2px solid $clr-grey-md;
    flex: 1 0 15rem;
  }

  &__list {
    list-style-type: none;
  }

  &__ingredient {
    text-transform: uppercase;
    font-family: $font-tittles;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background: $clr-primary;
      border-radius: 50%;
      width: 0.5rem;
      height: 0.5rem;
      top: 50%;
      left: -2rem;
      transform: translateY(-50%);
    }
  }
}
