.icon {
  fill: currentColor;

  &--sm {
    width: 2rem;
    height: 2rem;
  }

  &--md {
    width: 3rem;
    height: 3rem;
  }

  &--lg {
    width: 4rem;
    height: 4rem;
  }

  &--border {
    border: 1px solid currentColor;
    margin-right: 2rem;
    padding: 0.8rem;
    width: 3.5rem;
    height: 3.5rem;
  }

  &--menu {
    width: 1.5rem;
    height: 2rem;
    fill: $clr-white;
  }
}
