// MARGINS
.mb-xs {
  margin-bottom: 1rem;
}
.mb-sm {
  margin-bottom: 2rem;
}
.mb-md {
  margin-bottom: 3rem;
}
.mt-sm {
  margin-top: 1rem;
}
.mt-lg {
  margin-top: 4rem;
}
.mr-sm {
  margin-right: 1rem;
}
.mr-md {
  margin-right: 2rem;
}

.center {
  text-align: center;
}
